body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: "Averia Serif Libre", serif;
}
body,
.snake {
  background-color: #414141;
}
#grid {
  border-radius: 100px;
  display: grid;
  grid-template-columns: repeat(30, 20px);
  grid-template-rows: repeat(30, 20px);
  justify-content: center;
  margin: 5px;
}
.border-game1 {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}
.border-game2 {
  border: #595f43 solid 8px;
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #595f43;
}
.border-game3 {
  border: #595f43 solid 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #595f43;
}
.border-game1 {
  border: #595f43 solid 10px;
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #595f43;
}
#instruction {
  position: absolute;
  top: 85%;
  text-align: center;
  color: maroon;
  width: 300px;
  text-transform: capitalize;
  padding: 30px;
  margin: 0;
}
#scores {
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  margin: 10px;
  font-weight: bolder;
}
#score,
#high-score {
  font-size: 40px;
  font-weight: bolder;
  margin: 10px 0;
}
#high-score {
  color: #d8ddca;
}
.snake {
  border: #5a5a5a 1px dotted;
}
.food {
  background-color: #dedede;
  border: #999 5px solid;
}
.border-game3,
#img-snake {
  background-color: #c4cfa3;
}
#img-snake {
  position: absolute;
  width: 800px;
  height: 800px;
}
#restart {
  position: absolute;
text-align: center;
  color: maroon;
  font-size: 60px;
display: none;
}